---
export interface Props {
	tag: string;
}

const { tag } = Astro.props;
---

<a href={`/posts/tags/${tag}`} class="tag">#{tag}</a>

<style>
	.tag {
		display: inline-block;
		color: var(--text);
		background: var(--surface0);
		padding: 0 0.5em;
		border: 1px solid var(--pink);
	}

	.tag:hover {
		border: 1px solid var(--pink);
	}
</style>
