---
export interface Props {
	name: string;
	url: string;
}

const { name, url } = Astro.props;
---

<a href={url}>
	<img src={`/webrings/${name}`} alt={url} loading="lazy" decoding="async" />
</a>

<style>
	a:hover {
		border-bottom: 0 !important;
	}
</style>
