---
import { Image } from "astro:assets";

export interface Props {
	name: string;
	url: string;
	gif?: boolean;
}

const { name, url, gif: animated = false } = Astro.props;
---

<a href={url}>
	<Image src={import(`../webrings/${name}.${animated ? "gif" : "png"}`)} alt={url} />
</a>

<style>
	a {
		line-height: 0;
	}

	a:hover {
		border-bottom: 0 !important;
	}
</style>
