---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

export interface Props {
	title: string;
	description: string;
	tags: string[];
	createdAt: Date;
	modifiedAt?: Date;
}

const { title, description } = Astro.props;
---

<Layout title={title}>
	<h2>{title}</h2>
	<small>{description}</small>
	<hr />

	<slot />
</Layout>

<style>
	h2 {
		margin-bottom: 0;
	}
</style>
