---
import Webring from "../components/Webring.astro";

import "@fontsource/inter";
import "@fontsource/inter/700.css";

import "@fontsource/iosevka";
import "@fontsource/iosevka/700.css";

import "@catppuccin/palette/style";

export interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="lewisakura"
			href="https://lewisakura.moe/rss.xml"
		/>
		<title>{title && `${title} | `}lewisakura</title>

		<meta property="og:title" content={title ?? "lewisakura"} />
		{title && <meta property="og:site_name" content="lewisakura" />}
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://lewisakura.moe/favicon.png" />
		{description && <meta property="og:description" content={description} />}
	</head>
	<body>
		<header>
			<h1>lewisakura 🌸</h1>
			<nav>
				<a href="/">about</a> &bull;
				<a href="/posts">blog</a>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<hr />
		<footer>
			<p id="socials">
				<a href="https://github.com/lewisakura">GitHub</a> &bull;
				<a href="https://twitter.com/lewisakura_">Twitter</a> &bull;
				<a href="https://youtube.com/@lewisakura">YouTube</a> &bull;
				<a href="https://twitch.tv/lewisakura">Twitch</a> &bull;
				<a href="https://www.patreon.com/lewisakura">Patreon</a> &bull;
				<code>@lewisakura</code> /
				<code>@lewisakura_</code>
			</p>
			<div id="webring">
				<Webring name="ovyerus.png" url="https://ovyerus.com" />
				<Webring name="ziad87.gif" url="https://ziad87.net" />
				<Webring name="auravoid.png" url="https://auravoid.dev" />
				<Webring name="spotlight.gif" url="https://joscomputing.space" />
				<Webring name="solely.png" url="https://arciniega.one" />
				<Webring name="megu.png" url="https://megu.dev" />
				<Webring name="tom.gif" url="https://thomasr.me" />
			</div>
		</footer>
	</body>
</html>

<style is:global>
	/* based off of sakura.css: https://github.com/oxalorg/sakura/ */
	/* but with catppuccin theme colors */

	/* https://github.com/catppuccin/catppuccin */
	:root {
		--base: var(--ctp-mocha-base);
		--mantle: var(--ctp-mocha-mantle);
		--surface0: var(--ctp-mocha-surface0);
		--overlay1: var(--ctp-mocha-overlay1);
		--text: var(--ctp-mocha-text);
		--subtext0: var(--ctp-mocha-subtext0);
		--pink: var(--ctp-mocha-pink);
	}

	@media (prefers-color-scheme: light) {
		:root {
			--base: var(--ctp-latte-base);
			--mantle: var(--ctp-latte-mantle);
			--surface0: var(--ctp-latte-surface0);
			--overlay1: var(--ctp-latte-overlay1);
			--text: var(--ctp-latte-text);
			--subtext0: var(--ctp-latte-subtext0);
			--pink: var(--ctp-latte-pink);
		}
	}

	html {
		font-size: 62.5%;
		font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
			"Helvetica Neue", Arial, "Noto Sans", sans-serif;
	}

	body {
		font-size: 1.8rem;
		line-height: 1.618;
		max-width: 38em;
		margin: auto;
		color: var(--text);
		background-color: var(--base);
		padding: 13px;
	}

	@media (max-width: 684px) {
		body {
			font-size: calc(1.8rem * 0.85);
		}
	}

	@media (max-width: 382px) {
		body {
			font-size: calc(1.8rem * 0.75);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		font-weight: 700;
		margin-bottom: 1rem;
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-word;
		color: var(--pink);
	}

	h1 {
		font-size: 2.35em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.75em;
	}
	h4 {
		font-size: 1.5em;
	}
	h5 {
		font-size: 1.25em;
	}
	h6 {
		font-size: 1em;
	}

	p {
		margin-top: 0px;
		margin-bottom: 2.5rem;
	}

	small,
	sub,
	sup {
		font-size: 75%;
	}

	hr {
		border-color: var(--pink);
		border-style: solid;
	}

	a {
		text-decoration: none;
		color: var(--pink);
	}

	a:hover {
		border-bottom: 2px solid var(--pink);
	}

	ul {
		padding-left: 1.4em;
		margin-top: 0px;
		margin-bottom: 2.5rem;
	}

	li {
		margin-bottom: 0.4em;
	}

	blockquote {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 1em;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		padding-right: 0.8em;
		border-left: 5px solid var(--pink);
		margin-bottom: 2.5rem;
		background-color: var(--surface0);
	}

	blockquote small {
		font-style: italic;
		color: var(--subtext0);
	}

	blockquote small:before {
		content: "— ";
	}

	pre {
		background-color: var(--surface0) !important;
		display: block;
		padding: 1em;
		overflow-x: auto;
		margin-top: 0px;
		margin-bottom: 2.5rem;
		font-size: 0.9em;
		font-family: "Iosevka", monospace;
	}

	code,
	kbd,
	samp {
		font-size: 0.9em;
		padding: 0 0.5em;
		background-color: var(--surface0);
		white-space: pre-wrap;
		font-family: "Iosevka", monospace;
	}

	pre code {
		padding: 0;
		background-color: transparent !important;
		white-space: pre;
		font-size: 1em;
		font-family: "Iosevka", monospace;
	}

	code {
		counter-reset: step;
		counter-increment: step 0;
	}

	code .line:before {
		content: counter(step);
		counter-increment: step;
		width: 1rem;
		margin-right: 1.5rem;
		display: inline-block;
		text-align: right;
		color: var(--overlay1);
	}

	table {
		text-align: justify;
		width: 100%;
		border-collapse: collapse;
	}

	td,
	th {
		padding: 0.5em;
		border-bottom: 1px solid var(--surface0);
	}

	summary {
		cursor: pointer;
		user-select: none;
	}

	nav {
		color: var(--pink);
	}

	#socials {
		text-align: center;
	}

	#webring {
		text-align: center;
	}
</style>
